@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Poppins:wght@100;300&family=Rampart+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main {
    position: relative;
    background: linear-gradient(90deg, #fff, #fff 62%, #4f7ca9 62%, #0051ff 100%);
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    align-items: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header .logo img {
    max-width: 80px;
    margin-right: 20px;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin: 0 10px;
}

header ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

header ul li a:hover,
header ul li a.active {
    color: #365d83;
}

.app {
    position: absolute;
    right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #4f7ca9;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

.app:hover {
    background: #4f7ca9;
    color: #fff;
}

.app ion-icon {
    margin-right: 10px;
    font-size: 1.4em;
}

.contenedor {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.contenedor .text {
    max-width: 700px;
}

.contenedor .text h2 {
    font-size: 4em;
    color: #4f7ca9;
}

.contenedor .text p {
    color: #333;
    font-size: 1.2em;
    line-height: 1.5em;
}

.contenedor .text h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #333;
}

.btn {
    background: #4f7ca9;
    color: #fff;
    display: inline-flex;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1;
    margin: 5px 20px 5px 0;
    border-radius: 7px;
}

.btn:hover {
    background: #f3f3f3;
}

.btn ion-icon {
    margin-right: 10px;
    font-size: 1.2em;
}

.imgBox img {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    max-width: 300px;
    max-height: 400px;
}

.imgBox img.active {
    display: block;
}

.dots {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 80px;
    display: flex;
    flex-direction: column;
}

.dots .dot {
    position: relative;
    width: 10px;
    height: 30px;
    background: rgba(255, 255, 255, 0.25);
    display: inline-flex;
    margin: 9px;
    cursor: pointer;
}

.dots .dot.active {
    background: #fff;
}

.sci {
    position: absolute;
    bottom: 40px;
    display: flex;
}

.sci li {
    list-style: none;
    margin-right: 20px;
}

.sci li a {
    font-size: 1.8em;
    color: #3b5998;
}

.sci li a:hover {
    color: #2873bf;
}










body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 20px 0;
    flex-wrap: wrap;
}
.container .card {
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(12, 53, 220, 0.5),
     5px 5px 5px rgba(3, 3, 3, 0.05), -5px -5px 5px rgba(18, 45, 221, 0.5);
    border-radius: 15px;
    margin: 10px;
}
.container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card .box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.02);
}
.container .card .box .content {
    padding: 20px;
    text-align: center;
}
.container .card .box .content h1 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.02);
    transition: 0.5s;
}
.container .card .box .content h2 {
    font-size: 1.8em;
    color: #777;
    z-index: 1;
    transition: 0.4s;
}
.container .card .box .content p {
    font-size: 16px;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.4s;
}
.container .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #03a9f4;
    margin-top: 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.container .card:hover .box {
    transform: translateY(-50px);
    transition: 0.5S;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    background: linear-gradient(45deg, #275ee9, #627bcd);
    background: linear-gradient(45deg, #2d4fe5, #515cd3);
}
.container .card:hover .box .content h1 {
    color: rgba(0, 0, 0, 0.05);
}
.container .card:hover .box .content h2 {
    color: rgb(255, 255, 255);
}
.container .card:hover .box .content p {
    color: rgb(255, 255, 255);
}
.container .card:hover .box .content a {
    background: #3b3ef5;
}